
.todolist-form{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background: #ede3e3;
    border-radius: 8px;
    width: 80%;
    padding-bottom: 20px;
}

.add-todos-list{
    font-family:'Roboto';
    font-size:21px;
    font-weight: bold;
    color:#e63232;
    text-align: center;
}

.Todos-forms{
    padding: 10px;
}

.form-text-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}

.label-text{
    font-size:21px;
    font-family:'Roboto';
    font-weight: 900;
    color: #000000;
}

.input-container{
  color: #000000;
  background-color: #ffffff;
  font-family: 'Open Sans';
  height: 30px;
  border: 1px solid #d7dfe9;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  margin-bottom: 20px;
  outline: none;
  font-size:18px;
}

.selectcontainer{
  color: #1e293b;
  background-color: #ffffff;
  font-family: 'Open Sans';
  height: 40px;
  border: 1px solid #d7dfe9;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.optioncontainer{
  font-size: 16px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-left: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  font-size:18px;
}

.add-button{
    height:40px;
    width:140px;
    padding:12px 12px;
    border-radius: 8px;
    font-size:16px;
    color: #000000;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    outline: none;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
